extends ../layout

block content
	include ../message.jade
	h4 Create a new post
	#createPost
		form(name="createpost",method="post", action="/posts/create")
			.form-group
				input#author.form-control(type="hidden", value="#{user._id}", name="author")
			.form-group
				label Title
				input#titlePost.form-control(type="text", placeholder="Title of Post", name="title")
			.form-group
				label Content
				textarea#contentPost.form-control(rows="10", name="content")
			.form-group
				label Category
				select.form-control#category(name="category")
					option(value="Life-Arts") Life/Arts
					option(value="Technology") Technology
					option(value="Culture-Recreation") Culture/Recreation
					option(value="Science") Science
					option(value="Other") Other
			button#btnAddPost.btn.btn-primary(type="submit") Create
	script.
		$(document).ready(function(){
			$("button").click(function(){
				$("#contentPost") = $("#contentPost").val().replace(/\n/g, '<br/>');
			});
		});